<h2 align='center'>Control de Acceso a Usuarios</h2>

<h3 align='center'>
  Aplicacion - Version 1.0 - Desarrollado en Ruby on Rails <br /> <br />
  <%= image_tag('rails.png') %>
</h3>

<p align='center'>
Visitenos en BLA BLA BLA
</p>
