<h2>Opciones de Menu y Acceso a Usuarios</h2>

<table>
  <tr>
	<td> <%= link_to image_tag('tipos.png'), usuario_tipos_path %> </td>
    <td></td>
    <td> <%= link_to image_tag('usuario.png'), usuarios_path %> </td>
    <td></td>
    <td> <%= link_to image_tag('menu.png'), menus_path %> </td>
    <td></td>
    <td> <%= link_to image_tag('control.png'), menu_usuario_tipos_path %> </td>
  </tr>

  <tr>
	<th>Tipos de Usuarios</th>
    <th></th>
    <th>Usuarios del Sistema</th>
    <th></th>
    <th>Opciones de Menu</th>
    <th></th>
    <th>Control de Acceso</th>
  </tr>
</table>

<p>
Cree sus propios menu, agrege usuarios al sistema y ademas controle el
acceso de los usuarios a cada una de las opciones creadas.
Los botones de la barra superior son para el mantenimiento de la aplicacion.
Saludos!!
</p>
